/*
  Global container 
*/

.container__row--col {
  background-color: #009066;
  margin: 15px;
  border-radius: 10px;
  font-size: 4em;
}

.container__row--span {
  color: var(--white);
  padding: 5px;
  border-radius: 50%;
  background-color: var(--error);
}

.container__input {
  width: 70% !important;
}

.form-postdata {
  margin-top: 25px;
}

.container__input--serial {
  width: 80% !important;
}

.container__input--button {
  background: #000;
  color: var(--white);
}

/*
    NAVBAR
*/
.navbar {
  background: #000;
  color: #000;
  margin-bottom: 25px;
}

.logo {
  width: 30px;
  border-radius: 50%;
}
span {
  color: #000;
}
input[type="submit"] {
  cursor: pointer;
}
input[type="submit"]:disabled {
  cursor: not-allowed;
  background-color: darkred;
}
input[type="submit"]:disabled:hover {
  cursor: not-allowed;
  background-color: darkred;
}
input[type="submit"]:hover {
  background-color: #009066;
}
