@import '../../global.css';
.navbar {
  background: linear-gradient(to right, #f46b45, #eea849);;
  color: #000;
  margin-bottom: 25px;
}

.logo{
  width: 40px;
  filter: brightness(0);
}
span{
  color: #000;
}
